VITE_S3_KEY=505a5c2b68262b9e470c9f663982eadcf0fbd543d32708e61f0303006a121ecf
VITE_SUPABASE_URL=https://lahoorkdcopypnubnosl.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_53DnrJekb2FrlxjduTP1BQ_KX43MYLy
